apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      queryTimeout: 60s
      httpMethod: POST

  # Jaeger datasource for distributed tracing
  # Works with the all-in-one UI port
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    editable: true
    jsonData:
      tracesToLogs:
        datasourceUid: 'loki'  # Optional: Add Loki datasource UID for logs correlation

  # Zipkin datasource for distributed tracing (alternative to Jaeger)
  - name: Zipkin
    type: zipkin
    access: proxy
    url: http://zipkin:9411
    editable: true
